@import './vars.css';

.app {
    background-color: var(--color-bg);
    color: var(--color-text);
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
}

.dark {
    background-color: var(--dark-bg);
    color: var(--dark-text);
}