.contact {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    height: 100%;
}

.contact__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__title-h {
    margin: 0rem;
}

.contact__title-p {
    margin: 0rem;
}

.contact__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.contact__info-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
}

.contact__info {
    display: flex;
    gap: 2rem;
    line-height: 2rem;
    align-items: center;
}

.contact__h2 {
    margin: 0rem
}

@media (min-width : 44rem) {
    .contact__content {
        flex-direction: row;
        align-items: center;
    }

    .contact__info-container {
        margin-right: 2rem;
    }

}

/*below CSS adapted from https://css.gg under the MIT License*/
.gg-phone {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    transform: scale(var(--ggs, 1))
}

.gg-phone::after,
.gg-phone::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.gg-phone::after {
    width: 18px;
    height: 18px;
    border-top-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 12px;
    border-left: 4px solid;
    border-bottom: 4px solid;
    left: 2px;
    bottom: 2px;
    background:
        linear-gradient(to left,
            currentColor 10px,
            transparent 0) no-repeat right 11px/6px 4px,
        linear-gradient(to left,
            currentColor 10px,
            transparent 0) no-repeat -1px 0/4px 6px
}

.gg-phone::before {
    width: 20px;
    height: 20px;
    border: 6px double;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    transform: rotate(-45deg);
    bottom: 2px;
    left: 2px
}

.gg-mail,
.gg-mail::after {
    display: block;
    box-sizing: border-box;
    height: 14px;
    border: 2px solid
}

.gg-mail {
    overflow: hidden;
    transform: scale(var(--ggs, 1));
    position: relative;
    width: 18px;
    border-radius: 2px
}

.gg-mail::after {
    content: "";
    position: absolute;
    border-radius: 3px;
    width: 14px;
    transform: rotate(-45deg);
    bottom: 3px;
    left: 0
}

.gg-pin {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: rotate(45deg) scale(var(--ggs, 1));
    width: 18px;
    height: 18px;
    border-radius: 100% 100% 0 100%;
    border: 2px solid;
    margin-top: -4px
}

.gg-pin::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid;
    top: 3px;
    left: 3px;
    border-radius: 40px
}