.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.3rem;
  line-height: 2rem;
}

.form__label {
  display: flex;
  flex-direction: column;
}

.required {
  font-size: 0.8rem;
  margin-left: 0.5rem;
  color: red;
}

.missingMessage {
  font-size: 0.8rem;
  color: red;
}

.form__message {
  height: 4rem;
}

.form__button {
  font-weight: 600;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  background-color: white;
}

.form__button:hover {
    background-color: rgb(53, 53, 53);
    color: white;
}

@media (mid-width: 44rem) {
  .form__label {
    flex-direction: row;
  }

  .form {
    margin-left: 2rem;
  }
}
