.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.3rem;
    line-height: 2rem;
}

.form__label {
    display: flex;
    flex-direction: column;
}

.required {
    font-size: 0.8rem;
    margin-left: 0.5rem;
    color: red;
}

.missingMessage {
    font-size: 0.8rem;
    color: red;
}

.form__message {
    height: 4rem;
}

.form__button {
    background-color: var(--color-primary);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    color: white;
    border: 0px;
    font-size: 1rem;
    margin: 0rem 0.5rem;
    cursor: pointer;
}

.form__button:hover,
.form__button:focus {
    background-color: var(--color-secondary);
}


@media (mid-width: 44rem) {

    .form__label {
        flex-direction: row;
    }

    .form {
        margin-left: 2rem;
    }

}