@import './vars.css';

.home {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem;
}

.home__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__title {
    margin-bottom: 0rem;
}

.home__text {
    padding: 1.5rem;
    line-height: 1.5rem;
    margin: 0rem;
}

.home__button {
    text-decoration: none;
    background-color: var(--color-primary);
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    color: white;
}

.home__button:hover {
    background-color: var(--color-secondary);
}

.home__image {
    width: 250px;
    height: 250px;
    margin: 0rem 2rem 2rem 2rem;
}

@media (min-width: 44rem) {
    .home {
        flex-direction: row;
        align-items: normal;
    }

    .home__image {
        width: 300px;
        height: 300px;
        margin-top: 10rem;
    }
}