.projects-page {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.projects__title {
    text-align: center;
    margin-bottom: 2rem;
    grid-column: span 12;
}


.card {
    grid-column: span 12;
}


@media (min-width: 44rem) {
    .card {
        grid-column: span 4;
    }
}